<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>About Me</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <main>
    <p>I'm Palukuri Ramanamurthy, a passionate and self-driven Web Developer and Python Programmer. I love building elegant, responsive websites and solving challenging algorithmic problems. With a strong foundation in HTML, CSS, JavaScript, and Python, I aim to create impactful digital solutions that are both functional and visually appealing. I'm constantly learning new technologies and improving my skills to stay updated with the evolving tech landscape. My goal is to contribute to meaningful projects and grow as a full-stack developer.

</p>
  </main>
  <footer>
    <p>Palukuri Venkata RamanaMurthy</p>
  </footer>
</body>
</html>
