<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>Contact</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <main>
    <p>Email: <a href="mailto:yourname@example.com">palukuriramanamurthy@gmail.com</a></p>
    <p>GitHub: <a href="https://github.com/yourusername" target="_blank">https://github.com/vasuvasu1234</a></p>
  </main>
  <footer>
    <p>Palukuri Venkata RamanaMurthy</p>
  </footer>
</body>
</html>
