<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>My Projects</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <main>
    <ul>
      <li><strong>ATM Machine:</strong> Developed a simulated ATM machine using Python with features like balance inquiry, deposit, withdrawal, and PIN verification through a simple command-line interface..</li>
      <li><strong>Portfolio Website:</strong> Developed a responsive portfolio website using Flask, HTML, and CSS to showcase my skills, projects, and contact details.</li>
    </ul>
  </main>
  <footer>
    <p>Palukuri Venkata RamanaMurthy</p>
  </footer>
</body>
</html>
